.ignored
build/
out/
.cache/
*.o
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib
.vs/
.vscode/settings.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
assets/*.jpg
assets/*.png
assets/*.exr
assets/*.raw
assets/*.hdr
*.ini
